// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$blue: #3897f0;

// Classes
.login-view-container {
  display: flex;
}

.login-view-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 10px;
  border: 1px solid $light-gray-2;
  background-color: #FFFFFF;
}
