/* line 3, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/base.scss */
.main-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-image: url("https://s3-us-west-2.amazonaws.com/instagraph-aa/nature-board-wood-antique-retro-texture-560002-pxhere.com.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* line 17, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/base.scss */
.logged-in-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/instagraph-aa/nature-board-wood-antique-retro-texture-560002-pxhere.com.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  justify-content: stretch;
  margin: 0 auto;
  width: 100%;
  padding-top: 140px;
}

/* line 31, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/base.scss */
.logged-out-view {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  max-width: 935px;
}

/* line 39, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/base.scss */
.hidden {
  display: none;
}
/* line 7, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/button-styles.scss */
.button {
  outline: none;
  cursor: pointer;
  height: 28px;
  width: 268px;
  padding: 0 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 3px;
}

/* line 30, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/button-styles.scss */
.button.link {
  outline: none;
  padding: 0;
  border: 0;
}

/* line 37, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/button-styles.scss */
.disabled-button:hover {
  outline: none;
  cursor: not-allowed;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 21, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.form-input {
  width: 258px;
  padding: 9px 0 7px 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
}

/* line 32, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.form-input:focus {
  outline: none;
  border: 1px solid #DBDBDB;
}

/* line 37, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.signup-input, .login-input {
  margin-bottom: 6px;
}

/* line 41, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.signup-input:last-of-type, .login-input:last-of-type {
  margin-bottom: 0px;
}

/* line 45, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.signup-form-button, .login-form-button {
  margin-top: 10px;
}

/* line 49, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.filled-password {
  letter-spacing: 1.5px;
  font-size: 16px;
}

/* line 54, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.error-message-container {
  margin-bottom: 5px;
}

/* line 58, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.error-message-container:last-of-type {
  margin-bottom: 0px;
}

/* line 62, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.error-messages-list {
  margin: 20px 40px 0px;
}

/* line 66, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/form-styles.scss */
.error-message-text {
  color: #ED4956;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.main-header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 300;
}

/* line 24, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.main-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1010px;
}

/* line 33, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.main-header-section {
  display: flex;
  width: 337px;
}

/* line 38, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.main-header-right {
  justify-content: flex-end;
}

/* line 43, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.header-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  min-width: 125px;
  width: 215px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background-color: #FAFAFA;
}

/* line 55, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.header-search-bar:hover {
  cursor: not-allowed;
}

/* line 59, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.search-placeholder {
  font-size: 14px;
  color: #999999;
}

/* line 64, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.upload-photo-button {
  width: 100px;
  margin-right: 12px;
}

/* line 69, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.user-profile-button {
  width: 100px;
  margin-left: 12px;
}

/* line 75, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.temporary-logout-button {
  width: 100px;
}

/* line 79, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.header-menu-button {
  width: 80px;
  background-color: #FAFAFA;
  border-color: #DBDBDB;
  color: #262626;
}

/* line 86, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.header-menu-button:hover {
  background-color: #EFEFEF;
}

/* line 90, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.home-icon {
  margin-right: 10px;
}

/* line 94, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/header-styles.scss */
.header-logo-section {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* line 13, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/logo-styles.scss */
.logo-text {
  font-size: 36px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

/* line 19, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/components/logo-styles.scss */
.header-logo-text {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Pacifico', cursive;
  padding-left: 18px;
  border-left: 1px solid #999999;
  text-decoration: none;
  color: #262626;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/home_feed_view/home-feed-view-styles.scss */
.feed-content {
  max-width: 600px;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.main-post-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.75);
}

/* line 28, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-photo-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #FAFAFA;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
}

/* line 40, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.uploaded-preview {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 300;
}

/* line 50, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-photo-dropzone {
  width: 500px;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  border: dashed 8px #C7C7C7;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* line 62, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-photo-dropzone-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 70, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-image-icon {
  margin-bottom: 30px;
}

/* line 74, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-photo-text {
  color: #262626;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

/* line 81, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-photo-description-input {
  width: 500px;
  background-color: #EFEFEF;
  font-size: 15px;
  margin-bottom: 20px;
  color: #262626;
  resize: none;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
}

/* line 92, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.upload-photo-form-buttons {
  display: flex;
  align-items: center;
}

/* line 97, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.photo-form-button {
  width: 120px;
  height: 40px;
  margin: 0px 20px;
  font-size: 18px;
}

/* line 104, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-upload-view-styles.scss */
.cancel {
  background-color: #FAFAFA;
  border-color: #DBDBDB;
  color: #262626;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-list-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: auto;
  margin-bottom: 60px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
}

/* line 25, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-list-item:last-of-type {
  margin-bottom: 0px;
}

/* line 29, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-author-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid #EFEFEF;
  -webkit-box-sizing: border-box;
}

/* line 38, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-author-header-items {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* line 44, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-list-item-user-thumb {
  border-radius: 18px;
}

/* line 48, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-header-author-text {
  margin-left: 10px;
}

/* line 52, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-author-text {
  font-weight: 600;
  font-size: 15px;
  margin-right: 5px;
  display: inline;
  text-decoration: none;
  color: #262626;
}

/* line 61, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-photo {
  max-width: 600px;
  max-height: 700px;
  overflow: hidden;
}

/* line 69, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-action-bar {
  display: flex;
  height: 40px;
}

/* line 74, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-action-button:hover {
  cursor: pointer;
}

/* line 78, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-action-button:focus {
  outline: none;
}

/* line 82, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-action-button:active {
  opacity: 0.75;
}

/* line 86, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-like-button {
  margin-left: -3px;
}

/* line 90, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-comment-button {
  margin-left: 14px;
}

/* line 94, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-body {
  padding: 0 16px;
  background-color: #FFFFFF;
}

/* line 99, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-description-container {
  padding: 10px 0;
}

/* line 103, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-description-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: inline;
}

/* line 110, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-body-likes {
  display: flex;
  align-items: center;
  font-weight: 600;
}

/* line 116, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-body-likes-text {
  margin-left: 4px;
}

/* line 120, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.timestamp-content {
  padding-bottom: 8px;
}

/* line 124, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-timestamp {
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  color: #999999;
  text-decoration: none;
}

/* line 134, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.comment-list-item-container {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

/* line 141, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.comment-list-item-content {
  display: flex;
}

/* line 145, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-comment-text {
  font-weight: 400;
  font-size: 15px;
  display: inline;
}

/* line 151, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.close-comment-button {
  font-size: 14px;
  color: #C7C7C7;
}

/* line 156, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.close-comment-button-content:focus {
  outline: none;
}

/* line 160, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.close-comment-button-content:active {
  outline: none;
}

/* line 164, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.new-comment-form-input-container {
  border-top: 1px solid #EFEFEF;
  max-height: 80px;
  width: 100%;
}

/* line 170, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.new-comment-form-input {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  resize: none;
  max-height: 80px;
  color: #262626;
  align-items: center;
  justify-content: center;
  padding-top: 17px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* line 186, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.new-comment-form-input::placeholder {
  color: #999999;
  align-items: center;
  justify-content: center;
}

/* line 192, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.new-comment-form-input:focus {
  border: none;
  background-color: transparent;
  max-height: 80px;
}

/* line 199, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-show-container {
  position: fixed;
  display: flex;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

/* line 212, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-show-content {
  display: flex;
  max-width: 935px;
  min-width: 750px;
  height: auto;
  background: white;
  z-index: 100;
  border-radius: 2px;
}

/* line 222, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-photo {
  height: 100%;
  width: auto;
}

/* line 227, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-show-sidebar {
  width: 350px;
  padding: 20px;
}

/* line 232, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-show-sidebar-header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6E6E6;
}

/* line 239, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-show-sidebar-header-thumb {
  border-radius: 20px;
  margin-right: 15px;
}

/* line 244, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-view-comment-list-container {
  display: flex;
  flex-direction: column;
}

/* line 249, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-view-comment-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* line 255, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/post_view_styles/post-view-styles.scss */
.post-view-comment-form {
  height: 40px;
  width: 100%;
}
/* line 17, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 975px;
  margin: 0 auto 30px;
}

/* line 26, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.main-profile-user-header {
  display: flex;
  max-width: 750px;
  justify-content: space-between;
  padding-bottom: 45px;
}

/* line 33, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.main-profile-header-user-picture {
  border-radius: 80px;
}

/* line 37, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.main-profile-user-header-picture-container {
  display: flex;
  width: 320px;
  justify-content: center;
}

/* line 43, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.main-profile-user-header-contents {
  display: flex;
  flex-direction: column;
}

/* line 48, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.header-row {
  display: flex;
  margin-bottom: 20px;
}

/* line 53, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.profile-header-username {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  margin-right: 20px;
}

/* line 60, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.main-profile-user-header-name-row {
  align-items: center;
}

/* line 64, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.profile-follow-button {
  width: 105px;
}

/* line 68, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.profile-unfollow-button {
  width: 105px;
  background-color: #FAFAFA;
  border-color: #DBDBDB;
  color: #262626;
}

/* line 75, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.current-user-profile-badge {
  width: 105px;
  background-color: #FAFAFA;
  border-color: #DBDBDB;
  color: #262626;
  cursor: default;
}

/* line 83, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.stats-row-item {
  display: flex;
  font-size: 18px;
  margin-right: 40px;
  color: #262626;
}

/* line 90, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.stats-row-number {
  font-weight: 600;
}

/* line 94, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.stats-row-text {
  font-weight: 400;
  margin-left: 4px;
}

/* line 100, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.post-grid-empty-view {
  display: flex;
  height: 500px;
  width: 100%;
  background-color: #262626;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-radius: 5px;
}

/* line 111, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.empty-view-text {
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

/* line 117, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.empty-view-text p:last-of-type {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
}

/* line 124, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.posts-grid-view {
  width: 933px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 18px 2px;
  align-items: center;
  padding-bottom: 180px;
}

/* line 134, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.post-grid-row {
  display: flex;
}

/* line 138, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.post-grid-item-content {
  overflow: hidden;
}

/* line 142, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_in_views/user-profile-view/profile-view-styles.scss */
.post-grid-item {
  width: 290px;
  height: 290px;
  object-fit: cover;
  object-position: 50% 50%;
  align-items: center;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/components.scss */
.logo-container {
  margin: 24px auto 28px;
}

/* line 18, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/components.scss */
.toggle-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 450;
  color: #262626;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

/* line 36, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/components.scss */
.toggle-footer-link {
  margin-left: 5px;
  color: #3897f0;
  cursor: pointer;
  text-decoration: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 54, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/components.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 14, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/login_view/login-view-styles.scss */
.login-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* line 21, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/login_view/login-view-styles.scss */
.login-view-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 348px;
  padding: 10px 0 20px;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

/* line 37, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/login_view/login-view-styles.scss */
.instagram-link {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 450;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  color: #003569;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 58, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/login_view/login-view-styles.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 15, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.signup-view-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* line 21, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.signup-view-description {
  line-height: 20px;
  font-size: 17px;
  font-weight: 600;
  color: #999999;
}

/* line 28, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.signup-view-description:last-of-type {
  margin-bottom: 15px;
}

/* line 32, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.signup-view-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 348px;
  margin: auto 0;
  padding: 10px 0 42px;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

/* line 49, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.or-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 40px 18px;
}

/* line 56, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.plain-line {
  display: flex;
  height: 1px;
  width: 106px;
  background-color: #C7C7C7;
}

/* line 63, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.or-text {
  margin: 0px 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #999999;
}

/* line 71, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.disclaimer {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #999999;
}

/* line 79, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.disclaimer p:last-of-type {
  font-weight: 600;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 94, /Users/matt/Desktop/app_academy/full_stack_project/Instagraph/app/assets/stylesheets/logged_out_views/signup_view/signup-view-styles.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


html, body, div, span, h1, h2, h3, h4, h5, input,
h6, p, blockquote, pre, b, u, i, ol, ul, li,
form, label, embed, footer, header, button, nav, section {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font: inherit;
 	vertical-align: baseline;
  background: none;
  font-family: 'Quicksand', sans-serif;
 }

footer, header, menu, nav, section {
 	display: block;
}

body {
 	line-height: 1;
}

ol, ul {
 	list-style: none;
}
