// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black1: #262626;
$black2: #003569;

$blue: #3897f0;

// Classes
.main-profile-user-header {
  display: flex;
}

.main-profile-header-user-picture {
  border-radius: 75px;
}

.main-profile-user-header-contents {

}

.posts-grid-view {
  max-width: 935;
  display: flex;
}

.post-grid-row {
  display: flex;
}

.post-grid-item {
}
