// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black1: #262626;
$black2: #003569;

$blue: #3897f0;

// Classes

// Screen ==================================================
.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 975px;
  margin: 0 auto 30px;
}

// Header ==================================================
.main-profile-user-header {
  display: flex;
  max-width: 750px;
  justify-content: space-between;
  margin-bottom: 45px;
  padding: 45px 20px;
  background-color: $off-white;
}

.main-profile-header-user-picture {
  border-radius: 80px;
}

.main-profile-user-header-picture-container {
  display: flex;
  width: 320px;
  justify-content: center;
}

.main-profile-user-header-contents {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  margin-bottom: 20px;
}

.profile-header-username {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  margin-right: 20px;
}

.main-profile-user-header-name-row {
  align-items: center;
}

.profile-follow-button {
  width: 105px;
}

.profile-unfollow-button {
  width: 105px;
  background-color: $off-white;
  border-color: $light-gray-3;
  color: $black1;
}

.current-user-profile-badge {
  width: 105px;
  background-color: $off-white;
  border-color: $light-gray-3;
  color: $black1;
  cursor: default;
}

.stats-row-item {
  display: flex;
  font-size: 18px;
  margin-right: 40px;
  color: $black1;
}

.stats-row-number {
  font-weight: 600;
}

.stats-row-text {
  font-weight: 400;
  margin-left: 4px;
}

.main-profile-user-bio-name {
  font-weight: bold;
  margin-right: 5px;
  display: inline;
}

.main-profile-user-bio {
  font-size: 16px;
  line-height: 22px;
  display: inline;
}

// Body (empty) =========================================
.post-grid-empty-view {
  display: flex;
  height: 500px;
  width: 100%;
  background-color: $black1;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border-radius: 5px;
}

.empty-view-text {
  font-size: 30px;
  text-align: center;
  color: $white;
}

.empty-view-text p:last-of-type {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
}

// Body ==================================================
.posts-grid-view {
  width: 933px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 18px 2px;
  align-items: center;
  padding-bottom: 180px;
}

.post-grid-row {
  display: flex;
}

.post-grid-item-content {
  overflow: hidden;
}

.post-grid-item {
  width: 290px;
  height: 290px;
  object-fit: cover;
  object-position: 50% 50%;
  // width: auto;
  align-items: center;
}
