// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black: #262626;

$blue: #3897f0;

.toggle-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 450;
  color: $black;
  background-color: $white;
  border: 1px solid $light-gray-2;
}

.toggle-footer-link {
  margin-left: 5px;
  color: $blue;
  cursor: pointer;
  text-decoration: none;
}
