// Colors
$white: #FFFFFF;
$light-gray: #E6E6E6;
$blue: #3897f0;

// Classes
.login-view-content {
  display: flex;
}

.login-view-form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 10px;
  border: 1px solid $light-gray;
  background-color: #FFFFFF;
}
