// Colors
$white: #FFFFFF;
$light-gray: #E6E6E6;
$blue: #3897f0;

// Classes
.button {
  padding: 0 8px;
  font-family: 'Quicksand', sans-serif;
  background-color: $blue;
  color: #FFFFFF;
  height: 28px;
  width: 268px;
  border: 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
