// Colors
$white: #FFFFFF;
$light-gray: #E6E6E6;
$blue: #3897f0;

// Classes
.button {
  outline: none;
  cursor: pointer;

  height: 28px;
  width: 268px;

  padding: 0 8px;

  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;

  background-color: $blue;

  border: 1px solid $blue;
  border-radius: 3px;
}

.button.link {
  // Adjusts for styles on react-router-dom Link compoonent
  padding: 0;
  border: 0;
};
