// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$black1: #262626;

$blue: #3897f0;

$red: #ED4956;

// Classes
.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 258px;
  padding: 9px 0 7px 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background-color: $off-white;
  border: 1px solid $light-gray-1;
  border-radius: 3px;
}

.form-input:focus {
  outline: none;
  border: 1px solid $light-gray-3;
}

.signup-input, .login-input {
  margin-bottom: 6px;
}

.signup-input:last-of-type, .login-input:last-of-type {
  margin-bottom: 0px;
}

.signup-form-button, .login-form-button {
  margin-top: 10px;
}

.filled-password {
  letter-spacing: 1.5px;
  font-size: 16px;
}

.error-message-container {
  margin-bottom: 5px;
}

.error-message-container:last-of-type {
  margin-bottom: 0px;
}

.error-messages-list {
  margin: 10px 40px;
}

.error-message-text {
  color: $red;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
