// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black1: #262626;
$black2: #003569;

$blue: #3897f0;

.main-header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 77px;
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 26px 40px;
  max-width: 1010px;
}

// TODO: Refactor these once search is implemented.
.header-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  min-width: 125px;
  width: 215px;
  border: 1px solid $light-gray-3;
  border-radius: 3px;
  background-color: $off-white;
}

.header-search-bar:hover {
  cursor: not-allowed;
}

.search-placeholder {
  font-size: 14px;
  color: $gray;
}

.upload-photo-button {
  width: 100px;
  margin-right: 5px;
}

.user-profile-button {
  width: 100px;
  margin-left: 20px;
}

// TODO: Remove once logout button is no longer needed.
.temporary-logout-button {
  width: 100px;
}

.header-menu-button {
  background-color: $off-white;
  border-color: $light-gray-3;
  color: $black1;
}

.home-icon {
  margin-right: 10px;
}

.header-logo-section {
  display: flex;
  align-items: center;
  text-decoration: none;
}
