// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black: #262626;

$blue: #3897f0;


// Classes
.signup-view-container {
  display: flex;
}

.signup-view-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 348px;
  padding: 10px 0 42px;
  border: 1px solid $light-gray-2;
  background-color: #FFFFFF;
}

.or-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 40px 18px;
}

.plain-line {
  display: flex;
  height: 1px;
  width: 106px;
  background-color: $light-gray-4;
}

.or-text {
  margin: 0px 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: $gray;
}

.disclaimer {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $gray;
}

.disclaimer p:last-of-type {
  font-weight: 600;
}
