// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black: #262626;

$blue: #3897f0;

// Classes
.post-list-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: auto;
  margin-bottom: 60px;
  background-color: $white;
  border: 1px solid $light-gray-2;
  border-radius: 3px;
}

.post-list-item:last-of-type {
  margin-bottom: 0px;
}

.post-author-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid $light-gray-1;
  -webkit-box-sizing: border-box;
}

.post-list-item-user-thumb {
  border-radius: 18px;
}

.post-header-author-text {
  margin-left: 10px;
}

.post-item-author-text {
  font-weight: 600;
  font-size: 15px;
  margin-right: 5px;
  display: inline;
}

.post-photo {
  max-width: 600px;
  max-height: 700px;
  overflow: hidden;
}

// POST BODY ==================================================

.post-action-bar {
  display: flex;
  height: 40px;
}

.post-action-button:focus {
  outline: none;
}

.post-like-button {
  margin-left: -3px;
}

.post-comment-button {
  margin-left: 14px;
}

.post-body {
  padding: 0 16px;
  background-color: $white;
}

.post-description-container {
  padding: 10px 0;
}

.post-description-text {
  font-weight: 400;
  font-size: 15px;
  display: inline;
}

.post-body-likes {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.post-body-likes-text {
  margin-left: 4px;
}
