// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black: #262626;

$blue: #3897f0;

// Classes
.main-post-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.upload-photo-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: $off-white;
  border: 1px solid $light-gray-4;
  border-radius: 5px;
}

.upload-photo-dropzone {
  width: 100%;
  height: 300px;
  background-color: $light-gray-1;
  border: 2px dashed $light-gray-4;
  border-radius: 5px;
}

.upload-photo-description-input {
  width: 100%;
}

.upload-photo-form-buttons {
  display: flex;
  align-items: center;
}

.upload-photo-form-button {
  width: 120px;
  background-color: $off-white;
  border-color: $light-gray-3;
  color: $black;
  margin: 0px 20px;
}
