// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black: #262626;

$blue: #3897f0;

// Classes
.main-post-upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.75);
}

.upload-photo-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: $off-white;
  border: 1px solid $light-gray-4;
  border-radius: 5px;
}

.uploaded-preview {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 300;
}

.upload-photo-dropzone {
  width: 500px;
  justify-content: center;
  align-items: center;
  background-color: $light-gray-1;
  border: dashed 8px $light-gray-4;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-photo-dropzone-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-image-icon {
  margin-bottom: 30px;
}

.upload-photo-text {
  color: $black;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.upload-photo-description-input {
  width: 500px;
  background-color: $light-gray-1;
  font-size: 15px;
  margin-bottom: 20px;
  color: $black;
  resize: none;
  border: 1px solid $light-gray-4;
  border-radius: 5px;
}

.upload-photo-form-buttons {
  display: flex;
  align-items: center;
}

.photo-form-button {
  width: 120px;
  height: 40px;
  margin: 0px 20px;
  font-size: 18px;
}

.cancel {
  background-color: $off-white;
  border-color: $light-gray-3;
  color: $black;
}
