// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray-1: #EFEFEF;
$light-gray-2: #E6E6E6;
$light-gray-3: #DBDBDB;
$light-gray-4: #C7C7C7;
$gray: #999999;
$black: #262626;

$blue: #3897f0;

// Classes
.post-list-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: auto;
  margin-bottom: 60px;
  background-color: $white;
  border: 1px solid $light-gray-2;
  border-radius: 3px;
}

.post-list-item:last-of-type {
  margin-bottom: 0px;
}

.post-author-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid $light-gray-1;
  -webkit-box-sizing: border-box;
  text-decoration: none;
}

.post-list-item-user-thumb {
  border-radius: 18px;
}

.post-header-author-text {
  margin-left: 10px;
}

.post-author-text {
  font-weight: 600;
  font-size: 15px;
  margin-right: 5px;
  display: inline;
  text-decoration: none;
  color: $black;
}

.post-photo {
  max-width: 600px;
  max-height: 700px;
  overflow: hidden;
}

// Post body ==================================================

.post-action-bar {
  display: flex;
  height: 40px;
}

.post-action-button:focus {
  outline: none;
}

.post-action-button:active {
  opacity: 0.75;
}

.post-like-button {
  margin-left: -3px;
}

.post-comment-button {
  margin-left: 14px;
}

.post-body {
  padding: 0 16px;
  background-color: $white;
}

.post-description-container {
  padding: 10px 0;
}

.post-description-text {
  font-weight: 400;
  font-size: 15px;
  display: inline;
}

.post-body-likes {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.post-body-likes-text {
  margin-left: 4px;
}

.timestamp-content {
  padding-bottom: 8px;
}

.post-timestamp {
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  color: $gray;
  text-decoration: none;
}

// Comments ==================================================

.comment-list-item-container {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.comment-list-item-content {
  display: flex;
}

.post-comment-text {
  font-weight: 400;
  font-size: 15px;
  display: inline;
}

.close-button-x {
  font-size: 14px;
  color: $light-gray-4;
}

.new-comment-form-input-container {
  border-top: 1px solid $light-gray-1;
  max-height: 80px;
  width: 100%;
}

.new-comment-form-input {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  resize: none;
  max-height: 80px;
  color: $black;
  align-items: center;
  justify-content: center;
  padding-top: 17px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.new-comment-form-input::placeholder {
  color: $gray;
  align-items: center;
  justify-content: center;
}

.new-comment-form-input:focus {
  border: none;
  background-color: transparent;
  max-height: 80px;
}
