$off-white: #FAFAFA;

html {
  background-color: $off-white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-view {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.logged-in-view {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 935px;
  padding-top: 60px;
}

.logged-out-view {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 935px;
  width: 100%;
  padding: 30px;
}
