$off-white: #FAFAFA;

.main-view {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background: $off-white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.logged-in-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
  padding-top: 140px;
}

.logged-out-view {
  display: flex;
  // background-image: url("https://s3-us-west-2.amazonaws.com/instagraph-aa/iphone-wood-background.jpeg");
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  max-width: 935px;
}

.hidden {
  display: none;
}
