// Colors
$white: #FFFFFF;
$off-white: #FAFAFA;
$light-gray: #E6E6E6;
$blue: #3897f0;

// Classes
.form-input {
  background-color: $off-white;
  box-shadow: none;
  height: 38px;
  width: auto;
  padding: 9px 0 7px 8px;
}

.form-input:focus {
  outline: none;
  border: 1px solid, #DBDBDB;
}
